:root {
  /* colors */
  --blue-pale: #f2f0ef;
  --blue-medium: #1658b3;
  --blue-medium--hover: #1964cc;
  --blue-dark: #0e1e2e;
  --blue-dark--hover: #142b42;
  --blue-light: #6396ff;
  --blue-light--hover: #80a9ff;

  /* typography */
  --font-oswald: "Oswald", var(--ui-font-sans);

  /* mnml.css overrides */
  --container-max-width: 1024px;
  --body-color: var(--blue-dark);
  --button-font-family: var(--font-oswald);
  --button-font-weight: 600;
  --button-radius: 0;
  --button-text-transform: uppercase;
  --headers-font-family: var(--font-oswald);
  --focus-ring-color: 22 88 179;
  --focus-ring-offset: 4px;
}

html {
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
}

body > header {
  backdrop-filter: blur(2px);
  background-color: rgb(255 255 255 / 0.95);
  font-family: var(--font-oswald);
  padding-block: calc(var(--spacing) * 2);
}

body > header .container {
  align-items: center;
  display: grid;
  gap: var(--spacing);
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  padding-inline: calc(var(--spacing) * 2);
}

.logo path {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.logo__kore {
  fill: #6396ff;
}

:is(.logo__people, .logo__rpo) {
  fill: #0e1e2e;
}

body > main.container {
  padding: 0;
}

.primary-nav__wrapper {
  --link-color: var(--blue-dark);
  --link-color--visited: var(--blue-dark);
  --link-color--hover: var(--blue-medium);

  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  margin-inline-start: auto;
  position: relative;
  z-index: 2;
}

.primary-nav {
  transition-duration: var(--animation-timing);
  transition-property: background-color, box-shadow, padding;
  will-change: background-color, box-shadow, padding, position, transform;
}

.primary-nav__toggle {
  --button-padding-block: 0;
  --button-padding-inline: 0;

  align-items: center;
  color: var(--blue-medium);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1rem;
  font-weight: 400;
  gap: calc(var(--spacing) * 0.5);
  letter-spacing: 0;
  min-height: 43px;
  text-transform: none;
}

.primary-nav__toggle svg {
  height: 1rem;
  width: auto;
}

@media (max-width: 767.99px) {
  .primary-nav {
    --link-color: var(--blue-pale);
    --link-color--visited: var(--blue-pale);
    --link-color--hover: white;

    background: var(--blue-dark);
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.25);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc(var(--spacing) * 2);
    min-height: 70vh;
    min-height: 70dvh;
    min-width: calc(100vw - var(--spacing));
    padding: calc(var(--spacing) * 2);
    padding-inline-end: var(--spacing);
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-100vh) translateZ(0);
    z-index: 1;
  }

  .show-nav .primary-nav,
  .primary-nav:focus-within {
    transform: translateY(0) translateZ(0);
  }

  .primary-nav .primary-nav__toggle {
    color: white;
    margin-inline-start: auto;
  }

  .primary-nav > a {
    margin-inline-end: auto;
  }

  .primary-nav > .button.blue-medium.outline {
    --button-color: white;
    --button-border: white;
  }
}

@media (min-width: 360px) and (max-width: 767.99px) {
  .primary-nav {
    min-width: calc(360px - var(--spacing));
  }
}

@media (min-height: 600px) and (max-width: 767.99px) {
  .primary-nav {
    min-height: calc(600px - var(--spacing));
  }
}

@media (min-width: 768px) {
  .primary-nav {
    align-items: center;
    display: grid;
    gap: var(--spacing) calc(var(--spacing) * 3);
    grid-auto-columns: auto;
    grid-auto-flow: column;
  }

  .primary-nav__toggle {
    display: none;
  }
}

.primary-nav .button {
  white-space: nowrap;
}

.site-brand {
  display: block;
  width: 176px;
  height: 36px;

  svg {
    height: auto;
    width: 100%;
  }
}

:where(button, .button) {
  letter-spacing: 0.1rem;
}

:where(button, .button).blue-light {
  --button-base: var(--blue-light);
  --button-base--hover: var(--blue-light--hover);
  --button-color: var(--body-color);
}

:where(button, .button).blue-light.outline:where(:not(:hover, :active, :focus)) {
  --button-color: var(--blue-light);
}

:where(button, .button).blue-medium {
  --button-base: var(--blue-medium);
  --button-base--hover: var(--blue-medium--hover);
  --button-color: white;
}

:where(button, .button).blue-medium.outline:where(:not(:hover, :active, :focus)) {
  --button-color: var(--blue-medium);
}

:where(button, .button).blue-dark {
  --button-base: var(--blue-dark);
  --button-base--hover: var(--blue-dark--hover);
  --button-color: var(--body-color);
}

:where(button, .button).blue-dark.outline:where(:not(:hover, :active, :focus)) {
  --button-color: var(--blue-dark);
}

:is(section, .who-is__text) :first-child {
  margin-block-start: 0;
}

:is(section, .who-is__text) :last-child {
  margin-block-end: 0;
}

.jumbotron {
  align-items: center;
  aspect-ratio: 1024 / 474;
  background: var(--blue-medium);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: var(--font-oswald);
  gap: calc(var(--spacing) * 2);
  justify-content: center;
  padding: calc(var(--spacing) * 2);
  text-align: center;
}

.jumbotron__text {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 600;
  max-width: 41rem;
}

.jumbotron p {
  line-height: 1.5;
}

.jumbotron__text [style*="text-decoration:underline"] {
  text-decoration: none !important;
  border-bottom: 0.125em solid var(--blue-dark);
}

.jumbotron__actions .button.white {
  --button-base--hover: white;
  --button-color--hover: var(--blue-medium);
}

.jumbotron__actions .button.white:where(:hover, :active, :focus) {
  --button-color: var(--blue-medium);
}

.who-is {
  display: grid;
  gap: var(--spacing);
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

.who-is__text {
  margin-inline: auto;
  max-width: 60ch;
  padding: calc(var(--spacing) * 2);
}

@media (min-width: 768px) {
  .who-is--with-image {
    align-items: center;
    gap: 0;
    grid-template-columns: 1fr 1fr;
  }

  .who-is__text {
    padding-inline: calc(var(--spacing) * 3);
  }
}

section .who-is__image:last-child {
  margin-block-end: calc(var(--spacing) * -1);
}

.who-is__image img {
  display: block;
}

a[id="approach"] {
  scroll-margin-top: calc(var(--spacing) * -2);
}

.approach {
  background: var(--blue-pale);
  padding: calc(var(--spacing) * 2);
}

:is(.approach, .results) h2:first-of-type {
  font-size: 2rem;
  margin-block-end: calc(var(--spacing) * 2);
  margin-block-start: var(--spacing);
  text-align: center;
}

.approach .grid {
  --grid-spacing: 2rem;
}

.approach__card {
  border: 2px solid var(--blue-medium);
  color: var(--blue-medium);
  padding: var(--spacing);
}

@media (min-width: 768px) {
  .approach__card {
    margin-inline-start: var(--spacing);
  }
}

.approach__card h3 {
  background: var(--blue-medium);
  color: white;
  display: inline-block;
  min-width: 8rem;
  padding: calc(var(--spacing) * 0.35) var(--spacing) calc(var(--spacing) * 0.5);
  transform: translateX(calc(var(--spacing) * -2));
}

.approach__card p:last-child {
  margin-block-end: var(--spacing);
}

.results {
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 2);
}

.results h2:first-of-type {
  margin-inline: 0;
  font-weight: 600;
  text-align: left;
}

@media (min-width: 768px) {
  .results h2:first-of-type {
    margin-inline-start: var(--spacing);
    max-width: 12ch;
  }

  .results .grid {
    grid-template-columns: auto 64%;
  }
}

.results ul {
  display: grid;
  gap: calc(var(--spacing) * 2);
  grid-auto-flow: row;
  grid-auto-rows: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.results blockquote {
  align-items: start;
  background: url("./quotation-mark.svg") no-repeat top left;
  background-size: 27px 23px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding-block-start: calc(var(--spacing) * 3);
}

.results blockquote p {
  margin: 0;
  max-width: 48ch;
}

.results blockquote cite {
  border-inline-start: 2px solid var(--blue-medium);
  color: var(--blue-medium);
  margin-inline-start: auto;
  min-width: 40%;
  padding-inline-start: var(--spacing);
}

:is(.bio, .cta) {
  --padding: calc(var(--spacing) * 2);

  padding: var(--padding);
}

@media (min-width: 768px) {
  :is(.bio, .cta) {
    --padding: calc(var(--spacing) * 4);
  }
}

.bio {
  --link-color: var(--blue-pale);
  --link-color--visited: var(--blue-pale);
  --link-color--hover: white;

  background: var(--blue-medium);
  color: white;
  display: grid;
  gap: var(--padding);
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

@media (min-width: 768px) {
  .bio {
    grid-template-columns: 38% 1fr;
  }
}

.bio:nth-child(even) {
  background: var(--blue-dark);
}

.bio__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.bio__text header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: var(--font-oswald);
  gap: var(--spacing);
}

.bio__text svg {
  height: 1.25rem;
  width: auto;
}

.bio__text header p {
  margin: 0;
}

.bio__text header a {
  --focus-ring-color: 255 255 255;

  align-self: end;
  display: block;
  margin-inline-start: auto;
  transform: translateY(-0.1em);
}

.bio__position {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  width: 100%;
}

.bio__name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  text-align: center;
}

.cta h2 {
  color: var(--blue-medium);
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 600;
  text-align: center;
}

.cta p {
  margin-inline: auto;
  max-width: 48ch;
}

body > footer {
  --link-color: var(--blue-light);
  --link-color--visited: var(--blue-light);
  --link-color--hover: var(--blue-light--hover);

  align-items: center;
  background: var(--blue-dark);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing);
  justify-content: start;
  padding-block-end: calc(var(--spacing) * 2);
  padding-block-start: calc(var(--spacing) * 4);
}

body > footer.container {
  padding-inline: calc(var(--spacing) * 2);
}

body > footer .socials {
  align-items: center;
  display: flex;
  gap: var(--spacing);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
}

body > footer .socials svg {
  height: 2.5rem;
  width: auto;
}

body > footer .socials svg path {
  fill: currentColor;
}

body > footer .license {
  text-align: center;
  width: 100%;
}

body > footer .logo {
  height: 2rem;
  margin-inline-end: auto;
  width: auto;
}

body > footer :is(.logo__rpo, .logo__people) {
  fill: white;
}

@media (min-width: 600px) {
  body > footer .logo {
    order: 2;
  }

  body > footer .socials {
    order: 1;
    text-align: right;
    width: 100%;
  }

  body > footer .license {
    order: 3;
    text-align: right;
    width: auto;
  }
}

.contact-page main {
}

.contact-page main .wrapper {
  --padding: calc(var(--spacing) * 2);

  padding: var(--padding);
}

@media (min-width: 768px) {
  .contact-page main .wrapper {
    --padding: calc(var(--spacing) * 4);
  }
}

.contact-page main header {
  margin-block-end: calc(var(--spacing) * 2);
  text-align: center;
}

.contact-page h1 {
  border-bottom: 0.125em solid var(--blue-dark);
  color: var(--blue-medium);
  display: inline-block;
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-inline: auto;
  padding-block-end: 0.125em;
  padding-inline: var(--spacing);
}

.contact-page .hbspt-form {
  --required-color: white;
  --input-focus-ring: rgb(255 255 255 / 0.5);

  margin-inline: auto;
  max-width: 38rem;
}
